# Não levar coisas do Python
__pycache__/
*.pyc

# Não levar coisas de programas (IDEs)
.idea/
.vscode/

# Não levar lixo do computador
.DS_Store
Thumbs.db

# Não levar backups velhos
*.bak
*~

# Não levar ambientes virtuais
venv/
env/
